.container {
    display: flex;
    justify-content: center;
  }
  .center {
    width: 800px;
  }
  
h1 {
    color: #FFB266;
    text-shadow: 2px 2px 4px #000000;
  }
#login {
    margin-top: 100px;

}
.div-with-bg
{
    background: color url('https://cdn3.iconfinder.com/data/icons/unigrid-flat-fruits-vegetables/90/010_009_pear_fruit_food-512.png') others;
}